// _variables.scss

$primary:    hsl(360 77% 54%);
$primary-dark:    hsl(360 77% 44%);
$primary-darkerer:     hsl(360 77% 32%);
$black-20: hsl(190, 3%, 20%);
$black-22: hsl(190deg 3% 22%);
$black-30: hsl(190deg 3% 30%);
$black-50-a: hsla(190, 3%, 0%, 50%);
$black-50: hsla(190, 3%, 50%);
$black-90: hsl(190deg 3% 90%);



