// _variables.scss

$primary:    hsl(360 77% 56%);
$primary-dark:    hsl(360 77% 46%);
$primary-darkerer:     hsl(360 77% 34%);
$black-20: hsl(190, 3%, 20%);
$black-22: hsl(190deg 3% 22%);
$black-30: hsl(190deg 3% 30%);
$black-50-a: hsla(190, 3%, 0%, 50%);
$black-45: hsl(190, 3%, 45%);
$black-50: hsl(190, 3%, 50%);
$black-90: hsl(190deg 3% 90%);



